APP_NAME="Human Resource Management"
APP_ENV=production
APP_KEY=gTYITFi/xijD101Vf94pHI5lRcncIgfiHADcRaQR7+8=
APP_DEBUG=false
APP_URL=https://YOUR_INFINITYFREE_DOMAIN

APP_LOCALE=vi
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=single
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=sql303.infinityfree.com
DB_PORT=3306
DB_DATABASE=if0_42832728_hr_management
DB_USERNAME=if0_42832728
DB_PASSWORD=W2qOIg8fBHH8X

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SECURE_COOKIE=true

CACHE_STORE=file

QUEUE_CONNECTION=sync

FILESYSTEM_DISK=local
AVATAR_DISK=persistent_uploads
ATTENDANCE_PROOF_DISK=persistent_uploads
MEDIA_DISK=persistent_uploads

BROADCAST_CONNECTION=log

MAIL_MAILER=log

PUBLIC_REGISTRATION_ENABLED=false
RUN_SEED=false

VITE_APP_NAME="\${APP_NAME}"
